div.scroll {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}

.blazored-modal-error {
    max-width: 500px;
}

#keys-table .selected {
    background-color: lightgray;
}