Error connecting to Redis @Message

@if (!string.IsNullOrEmpty(Endpoint))
{
    <span>
        Endpoint: @Endpoint
    </span>
}

@code {
    [Parameter]
    public string Endpoint { get; set; }
    [Parameter]
    public string  Message { get; set; }
}