@using System.ComponentModel.DataAnnotations
@using RedisReader.Server.Models
@using RedisReader.Server.Services
@inject IStoreData<RedisConnection> ConnectionsManager

<EditForm Model="@_connectionDetails" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="card-body">
        <div class="form-group">
            <label for="displayName">Display name</label>
            <InputText class="form-control" id="displayName" @bind-Value="_connectionDetails.DisplayName"></InputText>
        </div>
        <div class="form-group">
            <label for="endpoint">Endpoint</label>
            <InputText class="form-control" id="endpoint" placeholder="localhost:6379" @bind-Value="_connectionDetails.Endpoint"></InputText>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
           <InputText type="password" id="password" placeholder="Password" @bind-Value="@_connectionDetails.Password" />
        </div>
        <div class="form-check">
            <label class="form-check-label" for="tls">Use TLS</label>
            <InputCheckbox id="tls" @bind-Value="@_connectionDetails.Tls"/>
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-secondary" @onclick="Close">Cancel</button>
    </div>
</EditForm>

@code {
    [Parameter] public Guid? ConnectionId { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    private ConnectionDetails _connectionDetails = new();

    protected override void OnInitialized()
    {
        if (ConnectionId == null) return;
        var connection = ConnectionsManager.Get(ConnectionId.Value);
        _connectionDetails = new ConnectionDetails
        {
            DisplayName = connection.DisplayName,
            Endpoint = connection.Endpoint,
            Password = connection.Password,
            Tls = connection.UseTsl
        };
    }

    private void HandleValidSubmit()
    {
        var model = new RedisConnection
        {
            DisplayName = _connectionDetails.DisplayName,
            Endpoint = _connectionDetails.Endpoint,
            UseTsl = _connectionDetails.Tls,
            Password = _connectionDetails.Password,
        };
        
        if (ConnectionId.HasValue)
        {
            model.Id = ConnectionId.Value;
            ConnectionsManager.Update(model);    
        }
        else
        {
            ConnectionsManager.Add(model);
        }
        
        ModalInstance.CloseAsync(ModalResult.Ok(_connectionDetails));
    }
    
    private void Close() 
    {
        ModalInstance.CloseAsync(ModalResult.Cancel());
    }
    
    public class ConnectionDetails
    {
        [Required]
        public string DisplayName { get; set; }
        
        [Required]
        public string Endpoint { get; set; }

        public string Password { get; set; }
        public bool Tls { get; set; }
    }

}