<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-database"></i>
                    <p>
                        Connections
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ConnectionsPane/>
            </li>
             <li class="nav-item has-treeview">
                  <NavLink href="protos" class="nav-link">    
                     <i class="nav-icon fas fa-file-o"></i>
                     <p>
                         ProtoBuff messages
                         <i class="fas fa-angle-left right"></i>
                     </p>
                 </NavLink>
            </li>
        </ul>
    </nav>
</div>

@code {

}