@page "/connections/{Id:guid}"
@using RedisReader.Server.Services
@inject ConnectionStateContainer ConnectionStateContainer
@inject IManageRedisConnections ManageRedisConnections

@if (ManageRedisConnections.IsConnected(Id))
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <Keys Id="@Id"/>
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <Values Id="@Id"/>
        </div>
    </div>
}
else
{
    <h3>Connect to the server in the connections pane</h3>
}
@code {

    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        ConnectionStateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ConnectionStateContainer.OnChange -= StateHasChanged;
    }
}