@page "/connections/{Id:guid}"

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <Keys Id="@Id"/>
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">
        <Values/>
    </div>
</div>

@code {

    [Parameter]
    public Guid Id { get; set; }

}