@using RedisReader.Server.Services
@using StackExchange.Redis
@inject IReadFromRedis Reader
@inject KeyStateContainer StateContainer

<table class="table table-bordered">
    <tbody>
    @foreach (var (key, index) in KeyList.Select((x, i) => (x, i)))
    {
        <tr>
            <td>@(index + 1)</td>
            <td @onclick="() => ShowValue(key)">@key</td>
        </tr>

    }
    </tbody>
</table>
@code {
    [Parameter]
    public Guid Id { get; set; }
    
    private List<string> KeyList { get; set; }
    
    private RedisValue Pattern { get; set; }

    protected override void OnInitialized()
    {
        KeyList = Reader.GetKeys(Id, Pattern);
    }

    private void ShowValue(string key)
    {
       StateContainer.SetKey(key);
    }

}