<div class="scroll">
    <table id="keys-table" class="table table-bordered">
        <thead>
        <tr>
            <td>No.</td>
            <td>Key</td>
        </tr>
        </thead>
        <tbody>
      
        </tbody>
    </table>
</div>

@code {
    private List<string> Protos { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}